<div id="<%= dom_id place %>">
  <p class="h5 fw-bold mb-2">
    <%= place.name %>
  </p>

  <p class="my-0">
    <strong>Latitude:</strong>
    <%= place.latitude %>
  </p>

  <p class="my-0">
    <strong>Longitude:</strong>
    <%= place.longitude %>
  </p>
</div>
