<div id="<%= dom_id place %>">
  <p class="h6 mb-2">
    <%= place.name %>
  </p>

  <p class="my-0">
    <strong>Lat:</strong>
    <%= place.latitude %>
  </p>

  <p class="my-0">
    <strong>Lon:</strong>
    <%= place.longitude %>
  </p>
</div>
